header, .project:not(:last-child) {
    border-bottom: 1px solid rgb(43, 31, 150);
  }
  
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }
  
  
  
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }